/**
 * Calendar
 */
.ui_calendar {
	position: absolute;
	width: 176px;
	padding: 10px 10px 5px;
	margin: 10px 14px;
	font-size: 1.2rem;
	background-color: #e8e6da;
	z-index: 9990999;

	.cal__nav_months {
		width: 20px;
		height: 20px;

		a {
			display: block;
			width: 20px;
			height: 20px;
			font-size: 0;
			color: transparent;
			background-color: #ad172b;
			background-repeat: no-repeat;
			background-size: 6px;
			border-radius: 100%;
			@include transition(background-color 350ms);

			&:hover {
				background-color: #3e1c05;
			}

			&.b_left {
				background-image: url($arrow_left_cal);
				background-position: 6px center;
			}

			&.b_right {
				background-image: url($arrow_right_cal);
				background-position: 8px center;
			}
		}
	}

	.cal__head {
		padding: 1px 0 3px;
		font-size: 1.2em;

		table {
			padding: 0 10px;
			min-width: 90px;
			text-align: center;
		}

		.cal__head {
			&_month {
				text-align: right;
				padding-right: 0.3em;
			}

			&_year {
				text-align: left;
			}
		}
	}

	.cal__body {
		padding: 10px 0 0;

		table {
			border-collapse: separate;
			border-spacing: 1px;

			td {
				text-align: right;
				width: 22px;
				height: 22px;
				font-size: 0.9em;
				color: #6f562d;
			}

			a,
			span {
				display: table-cell;
				width: 18px;
				height: 18px;
				padding: 2px;
				vertical-align: middle;
			}

			a {
				text-decoration: none;
				color: #6f562d;
				background-color: #f8f7f6;
				@include transition(background-color 350ms);

				&:hover {
					background-color: #f7f4dd;
				}
			}

			.is_full {
				border: 1px solid #cbc7bc;
			}

			.is_active {
				a {
					color: #494334;
					background-color: #b3a362;
				}
			}

			.is_current {
				border-color: #b3a362;
			}
		}
	}
}

/**
 * Alerts
 */
.ui_alerts {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 9009009;

	.ui_alerts_wrap {
		position: absolute;
		width: 500px;
		height: 125px;
		top: 50%;
		left: 50%;
		padding: 60px 50px;
		background-color: #fff;
		@include transform(translate(-50%, -50%));
	}

	.ui_alerts_content {
		display: table-cell;
		width: 500px;
		height: 125px;
		text-align: center;
		vertical-align: middle;

		h2 {
			padding: 0 1.85em;
			font-size: 2.4em;
			color: #ad172b;
			background-size: auto 1.4em, auto 1.4em;
		}

		p {
			font-size: 1.8em;
			margin: 8px 0;
			color: #3e1c05;
		}
	}
}